<form method="post" action="{{ path('app_requete_delete', {'id': requete.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ requete.id) }}">
    <button class="btn">Delete</button>
</form>
